<h1>Reactive/Model-Driven Form</h1>

<form 
[formGroup]="formModel"
(ngSubmit)="submitForm(formModel.value)"
>

<input type="text" [formControl]="formModel.controls['name']"/>
<div *ngIf="formModel.controls['name'].hasError('minlength') && formModel.controls['name'].touched">Name has min length</div>
<div *ngIf="formModel.controls['name'].hasError('maxlength') && formModel.controls['name'].touched">Name has max length</div>
<div *ngIf="formModel.controls['name'].hasError('required') && formModel.controls['name'].touched">Name is compulsory</div>

<input type="text"  [formControl]="formModel.controls['email']"/>
<textarea
[formControl]="formModel.controls['message']">

</textarea>

 <button [disabled]="!formModel.valid" type="submit" class="btn btn-default">Submit</button>

</form>